template(name='youtube')
    .field
        label youtube id
        .ui.left.icon.action.input
            i.youtube.icon
            input#youtube(type='text' value=youtube)
            .ui.icon.button#clear_youtube
                i.remove.icon

template(name='view_youtube')
    // .ui.embed(data-source="youtube" data-id=youtube data-icon="video" data-placeholder="/images/video_placeholder.png")
    .ui.embed(data-source="youtube" data-id=youtube)


template(name='content')
    .field
        label description
        .froala-container
            +froalaReactive getFEContext
    
    
template(name='image')
    // .ui.form?
    if image_id
        .field
            label image
            .ui.large.image
                img(src="{{c.url image_id width=500 crop='fit'}}")
                a#remove_photo.ui.top.left.attached.link.blue.label remove
                .ui.bottom.right.attached.blue.label image Id: #{image_id}
    else
        .fields
            .field
                label upload image
                input(type='file' name='upload_picture' accept='image/*')
            // if isInRole 'admin'
            //     .field
            //         label or Choose Cloudinary Image Id
            //         input#input_image_id(type='text')
    
