.ui.inverted.top.attached.menu
    a.item(href='/')
        i.large.home.icon
        |VersaClimber
    if currentUser
        .right.menu
            a.item(href='/about')        
                |About
        a.item(href='/profile/my_info')        
                |Profile
            a.icon.item
                i.sidebar.icon
        +atNavButton
    else
        +atNavButton